@page
@model MyBarrelRacers.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Racer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Racer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Racer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Racer.Home)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Racer.Home)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Racer.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Racer.Score)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Racer.Number">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
