@page
@model RazorPagesMusic.Pages.Songs.IndexModel

@{
    ViewData["Title"] = "Songs List";
}

<h1>Songs</h1>

<!-- Search Form -->
<form method="get">
    <p>
        Search by Title:
        <input type="text" name="SearchString" value="@Model.SearchString" class="form-control" style="width:250px; display:inline;" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<p>
    <a asp-page="Create" class="btn btn-success">Create New Song</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Songs[0].Title)</th>
            <th>@Html.DisplayNameFor(model => model.Songs[0].Artist)</th>
            <th>@Html.DisplayNameFor(model => model.Songs[0].Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Songs[0].ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Songs[0].Rating)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Songs)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@item.ReleaseDate.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
